After cleaning data, I am going to try to use sgd regressor to build a model out of it.
The reason I chose it is because I used a [flowchart](http://scikit-learn.org/stable/tutorial/machine_learning_map/index.html) to find out what's appropriate for my situation (i.e. a predicting sales (i.e. quantity) with less than 100,000 samples).

In [3]:
import pandas as pd
from sklearn import linear_model

In [4]:
train_csv = pd.read_csv('clean_data/train.csv')
train_csv.head()

,Store,Date,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,2010-02-05,1643690.90,39.7,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566
1,2,2010-02-05,2136989.46,39.7,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566
2,3,2010-02-05,461622.22,39.7,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566
3,4,2010-02-05,2135143.87,39.7,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566
4,5,2010-02-05,317173.10,39.7,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566

In [5]:
# The data type of the date is string and I will need to convert it to native date type
date_example = train_csv.loc[0, 'Date']
print(date_example)
type(date_example)

2010-02-05

str

In [6]:
# trying to convert string to native date format
train_csv['Date'] = pd.to_datetime(train_csv.Date)
print(train_csv.head())
type(train_csv.loc[0, 'Date'])

   Store       Date  Weekly_Sales  Temperature  Fuel_Price  MarkDown1  \
0      1 2010-02-05    1643690.90         39.7       2.572        0.0
1      2 2010-02-05    2136989.46         39.7       2.572        0.0
2      3 2010-02-05     461622.22         39.7       2.572        0.0
3      4 2010-02-05    2135143.87         39.7       2.572        0.0
4      5 2010-02-05     317173.10         39.7       2.572        0.0

   MarkDown2  MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment
0        0.0        0.0        0.0        0.0  211.653972         6.566
1        0.0        0.0        0.0        0.0  211.653972         6.566
2        0.0        0.0        0.0        0.0  211.653972         6.566
3        0.0        0.0        0.0        0.0  211.653972         6.566
4        0.0        0.0        0.0        0.0  211.653972         6.566

pandas._libs.tslib.Timestamp

In [7]:
# Let's get a dataframe for all stores
store_1_df = train_csv[train_csv.Store == 1].reset_index(drop=True)
store_1_df.describe()
# Looks good since I picked only a store with id of 1
store_1_df.head()

,Store,Date,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,2010-02-05,1643690.90,39.70,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566
1,1,2010-02-12,1641957.44,39.81,2.548,0.0,0.0,0.0,0.0,0.0,211.800470,6.566
2,1,2010-02-19,1611968.17,41.14,2.514,0.0,0.0,0.0,0.0,0.0,211.847128,6.566
3,1,2010-02-26,1409727.59,46.70,2.561,0.0,0.0,0.0,0.0,0.0,211.877147,6.566
4,1,2010-03-05,1554806.68,48.89,2.625,0.0,0.0,0.0,0.0,0.0,211.907165,6.566

### Splitting data into sample and target sets
Let's split data into sample and target sets
So sample will contain features with week dates and
target will contain the weekly sale

In [20]:
# Making a dataframe for all features necessary features including the date
'''feature_list = ['Date', 'Temperature', 'Fuel_Price', 
                'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 
                'MarkDown5', 'CPI', 'Unemployment']'''
feature_list = [ 'Temperature', 'Fuel_Price', 'CPI']
feature_set = store_1_df.loc[:, feature_list]
feature_set.head()

   Temperature  Fuel_Price         CPI
0        39.70       2.572  211.653972
1        39.81       2.548  211.800470
2        41.14       2.514  211.847128
3        46.70       2.561  211.877147
4        48.89       2.625  211.907165

In [21]:
# Making a dataframe for all targets
target_set = store_1_df.loc[:, 'Weekly_Sales']
target_set.head()

0    1643690.90
1    1641957.44
2    1611968.17
3    1409727.59
4    1554806.68
Name: Weekly_Sales, dtype: float64

In [22]:
# Create an sgd regressor estimator
clf = linear_model.SGDRegressor()
clf.fit(feature_set.values, target_set.values)

/home/pavel/miniconda3/envs/cleaning-data/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDRegressor'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

SGDRegressor(alpha=0.0001, average=False, epsilon=0.1, eta0=0.01,
       fit_intercept=True, l1_ratio=0.15, learning_rate='invscaling',
       loss='squared_loss', max_iter=None, n_iter=None, penalty='l2',
       power_t=0.25, random_state=None, shuffle=True, tol=None, verbose=0,
       warm_start=False)

In [26]:
x = clf.predict([[41.14, 2.514, 211.9]])