Purpose of the notebook is to play with the grid search and see how it will work with my data and a decision tree algorithm

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.tree import DecisionTreeRegressor

In [4]:
estimator = DecisionTreeRegressor()

In [5]:
import pandas as pd

train_csv = pd.read_csv('clean_data/train.csv')
train_csv.head()

,Store,Date,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,2010-02-05,1643690.90,39.7,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566
1,2,2010-02-05,2136989.46,39.7,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566
2,3,2010-02-05,461622.22,39.7,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566
3,4,2010-02-05,2135143.87,39.7,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566
4,5,2010-02-05,317173.10,39.7,2.572,0.0,0.0,0.0,0.0,0.0,211.653972,6.566

In [7]:
partial_training_set = partial_dataset_without = train_csv.loc[:,['Temperature', 'Fuel_Price']]
partial_training_set.head()

   Temperature  Fuel_Price
0         39.7       2.572
1         39.7       2.572
2         39.7       2.572
3         39.7       2.572
4         39.7       2.572

In [12]:
training_class_set = train_csv['Weekly_Sales']
training_class_set.head()

0    1643690.90
1    2136989.46
2     461622.22
3    2135143.87
4     317173.10
Name: Weekly_Sales, dtype: float64

In [21]:
estimator = DecisionTreeRegressor()

parameter_grid = {'max_depth': [1, 2, 3, 4]}
cross_validation = train_test_split(partial_training_set, training_class_set, test_size=0.2)

grid_search = GridSearchCV(estimator, param_grid=parameter_grid)
grid_search.fit(partial_training_set.values, training_class_set.values)
grid_search.best_params_
grid_search.best_score_

-0.01610428686453506